<!-- app.component.html -->
<div class="app-container">
  <p-menubar [model]="items" class="p-shadow-3 border-round mb-3">
    <ng-template pTemplate="start">
      <div class="flex align-items-center gap-2">
        <i class="pi pi-users text-primary text-2xl"></i>
        <span class="font-bold text-lg">Dating App</span>
      </div>
    </ng-template>

    <ng-template pTemplate="end">
      <button pButton type="button" icon="pi pi-user" label="Profile" class="p-button-text"></button>
    </ng-template>
  </p-menubar>

  <div class="">
    <router-outlet></router-outlet>
  </div>
</div>
